<div class="header">
    <div class="container">
        <a href="#" class="logo">Gist Manager</a>
        <div class="nav-user">
            <ul>
                <li>
                    <a href="#" *ngIf="!isAuthenticated" (click)="login()">
                        <fa-icon [icon]="faUserCircle" size="lg"></fa-icon>
                        Login
                    </a>
                    <a href="#" *ngIf="isAuthenticated" (click)="logout()">
                        <fa-icon [icon]="faSignOutAlt" size="lg"></fa-icon>
                        Logout
                    </a>
                </li>
            </ul>
        </div>
        <div class="nav">
            <ul>
                <li><a href="#" routerLink="/">Home</a></li>
                <li><a href="#" routerLink="/settings">Settings</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <router-outlet></router-outlet>
</div>