<div class="header">
    <div class="container">
        <a href="#" class="logo">Gist Manager</a>
        <div class="nav-user">
            <ul>
                <li>
                    <button *ngIf="!isAuthenticated" (click)="login()"> Login </button>
                </li>
            </ul>
        </div>
        <div class="nav">
            <ul>
                <li><a href="#" routerLink="/">Home</a></li>
                <li><a href="#" routerLink="/settings">Settings</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <router-outlet></router-outlet>
</div>